.jumbotron { box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); }

.my-navbar { background-color: #666;}

.my-footer {
    background-color: #666; height:40px;
    color: #fff; padding-top: 10px;
    padding-left: 10px; padding-right:10px;

    position:absolute;
    bottom:0;
    left:10%;
    right:10%;
}

.rendered-document {
    font-size: 1.2rem;
    overflow: scroll;
}

.textcolumn {

    height: 1000px;
}