<!--
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none",
  tex2jax: {
    inlineMath: [["\\(", "\\)"]],
    displayMath: [["\\[", "\\]"]],
    ignoreClass: "nostem|nolatexmath"
  },
  asciimath2jax: {
    delimiters: [["\\$", "\\$"]],
    ignoreClass: "nostem|noasciimath"
  },
  TeX: { extensions: ["mhchem.js"] }
});
</script>

-->

<header>
    <nav class="navbar navbar-inverse my-navbar">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Manuscripta.io</a>
        </div>
    </nav>
</header>

<main>
    <div class="row">

        <!-- LEFT-HAND COLUMN -->
        <div class="col-sm-4">

            <!-- SEARCH BAR -->
            <div style="width:100%; margin-bottom:10px;">
                 <input (keyup.enter)="performSearch(searchTerm)" style="background-color: #eee; width:100%; heigh:45px;" name="search" #searchTerm>
                 <!-- <button style="position:absolute; right:25px; width:15%" (click)="performSearch(searchTerm)" >Search</button> -->
             </div>

            <div style="width:100%; margin-bottom:10px; height:30px;">
                <button class="show-search-results-button"
                        [style.background-color]=searchResultsColor()
                        (click)="recallSearchResults()">Search Results</button>
                <button class="show-contents-button"
                        [hidden]="!displayContents()"
                        [style.background-color]=contentsColor()
                        (click)="recallDocumentContents()">Doc Contents</button>

            </div>



             <!-- DOCUMENT LIST -->
            <div *ngIf="documents" [textPageHeight] style="overflow: scroll">
                <ul class="list-group users-list">
                    <li class="list-group-item"
                        *ngFor="let document of documents"
                        (click)="selectDocument(document)"
                        [class.active]="document === activeDocument">
                        {{ document.title }}
                    </li>
                </ul>
            </div>

        </div>

        <!-- MAIN COLUMN: DOCUMENT CONTENT -->

        <div class="col-sm-8" [textPageHeight]>
             <h4 style="font-size:2rem" (click)="makeParentDocumentActive()">{{activeDocument.links.parent.title}}</h4>
             <h4 style="font-size:3rem">{{activeDocument.title}}</h4>
             <html-pane  [document]="activeDocument"></html-pane>
        </div>

    </div>


</main>


<!-- <footer class="navbar navbar-fixed-bottom my-footer"> -->
<footer class="my-footer">
    id: {{ activeDocument.identifier || activeDocument.id }} 
</footer>




